@model satinalma.Models.Payments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.payment_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
