@model IEnumerable<satinalma.Models.Payments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.payment_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.payment_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.payment_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
